@import "variables.scss";

.board-wrapper {
  display: flex;
  justify-content: space-between;
  max-height: 100%;
  gap: 1rem;
  margin-left: auto;
  margin-right: auto;

  .board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    max-width: 33%;
    min-height: 100%;
    border: 1px solid #fff;
    border-radius: 0.5rem;

    &__header {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #fff;
      border-radius: 0.5rem;
      padding: clamp(0.75rem, 2vw, 1.5rem);
      text-transform: uppercase;

      p,
      span {
        font-size: clamp(1rem, 2.2vw, 1.5rem);
      }
    }

    .todo,
    .in-progress,
    .done {
      color: $font-color-board;
    }

    .todo {
      background: $background-color-todo;
    }

    .in-progress {
      background: $background-color-inprogress;
    }

    .done {
      background: $background-color-done;
    }

    .in-progress-wrapper {
      border-radius: 0.5rem;
    }

    &__task-wrapper {
      position: relative;
      min-height: clamp(3rem, 6vw, 5rem);
      height: 100%;
      flex: 1;
      padding: clamp(0.25rem, 0.5vw, 0.5rem);
      overflow: auto;

      &::-webkit-scrollbar,
      select::-webkit-scrollbar {
        width: clamp(1.2rem, 2vw, 1.5rem); /* ширина скролла */
        background-color: #af3176;
      }

      /* ползунок скроллбара */
      &::-webkit-scrollbar-thumb,
      select::-webkit-scrollbar-thumb {
        background-color: #7c24af;
        border-radius: 9em;
        box-shadow: inset 1px 1px 10px #faf3f5;
      }

      &::-webkit-scrollbar-thumb:hover,
      select::-webkit-scrollbar-thumb:hover {
        background-color: #841f9b;
        box-shadow: inset 1px 1px 5px #faf3f5;
      }

      .empty-message {
        text-align: center;
      }

      .task_to-do {
        background: $background-color-todo;
      }

      .task__title {
        font-weight: 700;
      }

      .task__title,
      .task__description,
      .task__user {
        margin-right: clamp(0.25rem, 5vw, 1.8rem);
        margin-top: clamp(0.4rem, 0.8vw, 0.8rem);
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .task__description,
      .task__user,
      .task__date {
        font-size: clamp(0.8rem, 1.5vw, 1.2rem);
      }

      .task__user {
        font-style: italic;
        display: inline;
      }

      .task {
        position: relative;
        border: 1px solid #fff;
        border-radius: 0.5rem;
        padding: clamp(0.4rem, 0.8vw, 0.8rem);
        margin-top: clamp(0.25rem, 0.5vw, 0.5rem);
        margin-bottom: clamp(0.25rem, 0.5vw, 0.5rem);

        &_in-progress {
          background: $background-color-inprogress;
        }

        &_done {
          background: $background-color-done;
        }

        .to-progress {
          position: absolute;
          right: clamp(0.4rem, 0.83vw, 0.625rem);
          top: 50%;
          width: 20px;
          height: clamp(2rem, 5vw, 3.75rem);
          transform: translateY(-20%);
        }

        .to-progress::before {
          content: "";
          width: 2px;
          height: 50%;
          background-color: #42423f;
          position: absolute;
          transform: rotateZ(-45deg);
          right: 0.7rem;
          top: 0px;
        }

        .to-progress::after {
          content: "";
          width: 2px;
          height: 50%;
          background-color: #42423f;
          position: absolute;
          transform: rotateZ(-135deg) translate(-50%);
          right: 0.7rem;
          top: 32%;
        }

        .to-progress:hover::after {
          background-color: #c4a2d8;
          width: 3px;
        }

        .to-progress:hover::before {
          background-color: #c4a2d8;
          width: 3px;
        }

        .to-progress:active::after {
          background-color: #fff;
        }

        .to-progress:active::before {
          background-color: #fff;
        }

        .task__btn {
          display: flex;
          justify-content: end;
          gap: clamp(0.5rem, 1vw, 1rem);
        }
      }
    }

    &__footer {
      border-top: 1px solid #fff;
      border-radius: 0.5rem;
      padding: 0;
    }

    &__footer-btn {
      padding: clamp(0.75rem, 2vw, 1.5rem);
      width: 100%;
      border-color: inherit;
      border-radius: 0.5rem;
      background-color: #a65dcf;
      color: $font-color-board;
    }

    &__footer-btn:hover {
      background-color: #9714b1;
    }

    &__footer-btn:active {
      color: #111414;
    }
  }
}

@media (max-width: 960px) {
  @media screen and (orientation: landscape) {
    .board-wrapper {
      // .board{
      //    max-width: 100%;
      // }

      .board__task-wrapper {
        min-height: 0px;
      }
    }
  }
}

@media (max-width: 676px) {
  @media screen and (orientation: landscape) {
    .board-wrapper {
      align-items: flex-start;

      .board {
        height: 100%;
        align-items: stretch;
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .board-wrapper {
    flex-direction: column;
    max-width: 25rem;
    max-height: 100%;
    overflow: hidden;

    .board {
      align-items: stretch;
      max-height: 50%;
      height: 100%;
      max-width: 100%;

      .board__header {
        padding-right: 3rem;
      }

      .board__header::after {
        content: url("../image/arrow.svg");
        height: 1.5rem;
        width: 1.2rem;
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-60%) rotate(180deg);
      }

      .board__task-wrapper {
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }

      .board__footer {
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }
    }

    .task-hidden {
      min-height: auto;
      border: none;

      .board__header {
        border-bottom: 2px solid #fff;
      }

      .board__header::after {
        transform: translateY(-40%) rotate(0deg);
      }

      .board__header::after:active {
        content: url("../image/arrow_hover.svg");
      }

      .board__task-wrapper {
        max-height: 0px;
        min-height: auto;
        opacity: 0%;
        transition: all 0.2s ease-in-out;
      }

      .board__footer {
        max-height: 0px;
        opacity: 0%;
        transition: all 0.2s ease-in-out;
      }
    }
  }
}
