@import "variables.scss";

.header {   
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border: 1px solid #fff;
    border-radius: 1rem;
    padding-top: clamp(2rem, 5vw, 4rem);
    padding-bottom: clamp(2rem, 5vw, 4rem);
    padding-left: clamp(1rem, 2.5vw, 2rem);
    padding-right: clamp(1rem, 2.5vw, 2rem);    
    background: linear-gradient(90deg, #d44d34,#af31ab,#6cd5c0); 
  
    &__text {
        text-transform: uppercase; 
        color: #fff; 
        font-size: clamp(1.5rem, 3vw, 2.5rem);    
    }

    &__time {
        border: 1px solid #000;
        border-radius: 0.5rem;  
        padding: clamp(0.5rem, 1.25vw, 1rem); 
        background-color: rgb(231, 221, 221); 
        color: rgb(30, 17, 146); 
        font-size: clamp(1rem, 2vw, 1.5rem);
    }
    
date {
    display: block;
    text-align: end;
    }    
}

@media (max-width:960px) {
    @media screen and (orientation: landscape) {
        .header {            
            padding-top: clamp(1rem, 2.5vw, 2rem);
            padding-bottom: clamp(1rem, 2.5vw, 2rem);                 
        }
}}

