$background-color-header: linear-gradient(90deg, #d44d34,#af31ab,#6cd5c0);
$background-color-todo: linear-gradient(90deg, #d44d34,#af3176);
$background-color-inprogress: linear-gradient(90deg, #af3176,#ad7dc4);
$background-color-done: linear-gradient(90deg, #ad7dc4,#6cd5c0);
$font-color-board: #fff;